# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

In [16]:
import pandas as pd
import numpy as np

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [17]:
recipes = pd.read_csv('data/recipes_sample.csv')
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)

In [18]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [19]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [20]:
print('Recipes:')
print(f'Number of rows: {recipes.shape[0]}')
print(f'Number of columns: {recipes.shape[1]}')
print(f'Data types of columns:\n{recipes.dtypes}\n')

Recipes:
Number of rows: 30000
Number of columns: 8
Data types of columns:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [21]:
print('Reviews:')
print(f'Number of rows: {reviews.shape[0]}')
print(f'Number of columns: {reviews.shape[1]}')
print(f'Data types of columns:\n{reviews.dtypes}\n')

Reviews:
Number of rows: 126696
Number of columns: 5
Data types of columns:
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [22]:
print(f'Percentage of rows with missing values in recipes: {recipes.isnull().any(axis=1).sum() / len(recipes) * 100:.2f}%')
print(f'Percentage of rows with missing values in reviews: {reviews.isnull().any(axis=1).sum() / len(reviews) * 100:.2f}%\n')

Percentage of rows with missing values in recipes: 56.85%
Percentage of rows with missing values in reviews: 0.01%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [23]:
print(f'Mean values of numerical columns in recipes:\n{recipes.select_dtypes(include=[np.number]).mean()}\n')
print(f'Mean values of numerical columns in reviews:\n{reviews.select_dtypes(include=[np.number]).mean()}\n')

Mean values of numerical columns in recipes:
id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

Mean values of numerical columns in reviews:
user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [113]:
random_recipe_names = recipes['name'].sample(n=10)
print('10 random recipe names:')
print(random_recipe_names)

10 random recipe names:
25220                        Spiced Basmati Rice
5322                  Cheesy Spaghetti Casserole
6276                       Chili Topped Potatoes
11944             Gerri S Sticky Stout Fruitcake
28722             Vegetarian Gravy With Vegemite
647                 Amber Style Goddess Dressing
19175                         One Pan Pork Chops
6819     Chocolate Hazelnut Ice Cream Sandwiches
23320              Sanders  Chocolate Bumpy Cake
16640                     Maacouda With Potatoes
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [25]:
reviews.reset_index(drop=True, inplace=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [26]:
simple_recipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
print('Simple recipes:')
print(simple_recipes[['name', 'minutes', 'n_ingredients']])

Simple recipes:
                                                    name  minutes
28                                   quick biscuit bread       20  \
60                         peas  fit for a king or queen       20
90                     hawaiian sunrise           mimosa        5
91            tasty dish s   banana pudding in 2 minutes        2
94                                    1 minute meatballs       13
...                                                  ...      ...
29873  zip and steam red potatoes with butter and garlic       13
29874                          ziplock vanilla ice cream       10
29905                      zucchini and corn with cheese       15
29980               zucchini with jalapeno monterey jack       10
29983                          zucchini with serrano ham       15

       n_ingredients
28               5.0
60               5.0
90               3.0
91               4.0
94               2.0
...              ...
29873            5.0
29874            3.0
29905            5.0
29980            3.0
29983            5.0

[2019 rows x 3 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [27]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

In [28]:
reviewsDat = pd.read_csv('data/reviews_sample.csv', index_col=0,parse_dates=[3])
reviewsDat

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [29]:
recipesDat = pd.read_csv('data/recipes_sample.csv', parse_dates=[4])
recipesDat

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [30]:
recent_recipes = recipes[recipes['submitted'].dt.year >= 2010]
print(f'Number of recipes added after 2010: {len(recent_recipes)}\n')

Number of recipes added after 2010: 3877

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [31]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [32]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [33]:
recipes['name_word_count'] = [len(x.split()) for x in recipes['name'].tolist()]
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [34]:
contributor_recipe_counts = recipes['contributor_id'].value_counts()
max_contributor_id = contributor_recipe_counts.index[0]
print(f'Contributor {max_contributor_id} added the maximum number of recipes')

Contributor 89831 added the maximum number of recipes

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [114]:
reviewed_recipes = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id', how='left')
no_review_count = reviewed_recipes['review'].isnull().sum()
total_recipes = len(recipes)
print(f'Total recipes: {total_recipes}')
print(f'Recipes with no reviews: {no_review_count}')
print(f'Percentage of recipes with no reviews: {no_review_count / total_recipes * 100:.2f}%')

Total recipes: 30000
Recipes with no reviews: 1917
Percentage of recipes with no reviews: 6.39%

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [36]:
recipes['year'] = pd.DatetimeIndex(recipes['submitted']).year
recipe_counts_by_year = recipes['year'].value_counts()
print('Recipe counts by year:')
print(recipe_counts_by_year)

Recipe counts by year:
year
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [37]:
reviewed_recipes_new = reviewed_recipes.dropna(subset=['rating', 'review'])
reviewed_recipes_new = reviewed_recipes_new[['id', 'name', 'user_id', 'rating']]
print(reviewed_recipes.head())

                                    name     id  minutes  contributor_id
0  George S At The Cove  Black Bean Soup  44123       90           35193  \
1  George S At The Cove  Black Bean Soup  44123       90           35193
2  George S At The Cove  Black Bean Soup  44123       90           35193
3     Healthy For Them  Yogurt Popsicles  67664       10           91970
4     Healthy For Them  Yogurt Popsicles  67664       10           91970

   submitted  n_steps                                        description
0 2002-10-25      NaN  an original recipe created by chef scott meska...  \
1 2002-10-25      NaN  an original recipe created by chef scott meska...
2 2002-10-25      NaN  an original recipe created by chef scott meska...
3 2003-07-26      NaN  my children and their friends ask for my homem...
4 2003-07-26      NaN  my children and their friends ask for my homem...

   n_ingredients  description_length  name_word_count   user_id  recipe_id
0           18.0               330.0                8  743566.0    44123.0  \
1           18.0               330.0                8   76503.0    44123.0
2           18.0               330.0                8   34206.0    44123.0
3            NaN               255.0                5  494084.0    67664.0
4            NaN               255.0                5  303445.0    67664.0

         date  rating                                             review
0  2008-01-28     5.0  I lived in San Diego for 19 years and  would g...
1  2003-06-03     5.0  This soup is the Bomb! Don't hesitate to try.....
2  2003-03-23     5.0  I just can't say enough about how wonderful th...
3  2012-09-26     5.0  These are great!  I use 100% (organic) juice a...
4  2012-03-31     5.0  Very, very good.  My son loves these.  He like...

In [135]:
tst = reviewed_recipes[reviewed_recipes['review'].isnull()]
tst_old = reviewed_recipes.loc[[tst.index[0]]]
print(tst_old)
#tst_new = reviewed_recipes_new.loc[[tst.index[1]]]
#print(tst_new)

                              name      id  minutes  contributor_id
191  Pasta  With Shrimp   Eggplant  223349       50          452592  \

     submitted  n_steps                                        description
191 2007-04-18      7.0  a nice low carb way to feel like you are eatin...  \

     n_ingredients  description_length  name_word_count  year  user_id
191            9.0                54.0                4  2007      NaN  \

     recipe_id date  rating review
191        NaN  NaN     NaN    NaN

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [136]:
review_counts = reviewed_recipes.groupby('id')['review'].count()
review_counts.name = 'review_count'
review_counts = review_counts.reset_index()
recipes_with_reviews = pd.merge(recipes, review_counts, left_on='id', right_on='id', how='left')
recipes_with_reviews['review_count'] = recipes_with_reviews['review_count'].fillna(0)
recipes_with_reviews = recipes_with_reviews[['id', 'name', 'review_count']]
print(recipes_with_reviews.head())

      id                                      name  review_count
0  44123     George S At The Cove  Black Bean Soup             3
1  67664        Healthy For Them  Yogurt Popsicles             8
2  38798              I Can T Believe It S Spinach             3
3  35173                      Italian  Gut Busters             1
4  84797  Love Is In The Air  Beef Fondue   Sauces             8

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [137]:
reviewed_recipes = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id', how='left')
mean_ratings_by_year = reviewed_recipes.groupby('year')['rating'].mean()
worst_year = mean_ratings_by_year.idxmin()
print(f'The year with the worst average rating is {worst_year}')

The year with the worst average rating is 2017n

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [138]:
recipes = recipes.sort_values('name_word_count', ascending=False)
recipes.to_csv('recipes_sorted.csv', index=False)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [139]:
with pd.ExcelWriter('recipes_and_reviews.xlsx') as writer:
    reviewed_recipes_new.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    recipes_with_reviews.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

ModuleNotFoundError: No module named 'openpyxl'

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3